src/index.jade

doctype 5
html
  head
    title 服务器维护中
    link(rel='stylesheet',href='page/page.css')
    meta(charset='utf-8')
    link(rel="Shortcut Icon",href="http://recruit.zjut.in/pics/favicon.ico")
    //- script(src="http://192.168.1.19:7777/doodle.js")
  body
    #wrap
      #info
        .title 服务器维护中...
        p 下午论坛服务器进行硬件维护, 请大家耐心等待...
      #talk
        div#uyan_frame
        script(type="text/javascript",
          id="UYScript",
          src="http://v1.uyan.cc/js/iframe.js?UYUserId=0",
          async="")

index.html
<!DOCTYPE html>
<html>
  <head>
    <title>服务器维护中</title>
    <link rel="stylesheet" href="page/page.css">
    <meta charset="utf-8">
    <link rel="Shortcut Icon" href="http://recruit.zjut.in/pics/favicon.ico">
  </head>
  <body>
    <div id="wrap">
      <div id="info">
        <div class="title">服务器维护中...</div>
        <p>下午论坛服务器进行硬件维护, 请大家耐心等待...</p>
      </div>
      <div id="talk">
        <div id="uyan_frame"></div>
        <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=0" async=""></script>
      </div>
    </div>
  </body>
</html>
